// Colors
$ui-dark-gray: #191919;
$ui-medium-gray: #575757;
$ui-light-gray: #DADADA;
$ui-shade-gray: #FAFAFA;
$image-caption: #9A9A9A;
$primary: #3A66D4;
$primary-light: #95B3FF;
$primary-dark: #233B79;
$secondary: #01A198;
$success: #34AE4D;
$warning: #E38527;
$danger: #D3302E;
$black: #000000;
$white: #FFFFFF;

// Font Family
$font-georgia: Georgia, 'Times New Roman', Times, serif;
$font-arial: Arial, Helvetica, sans-serif;
