// change the theme
$theme-colors: (
  'dark-gray': $ui-dark-gray,
  'medium-gray': $ui-medium-gray,
  'light-gray': $ui-light-gray,
  'shade-gray': $ui-shade-gray,
  'image-caption': $image-caption,
  'primary': $primary,
  'primary-light': $primary-light,
  'primary-dark': $primary-dark,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'black': $black,
  'white': $white,
);
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$font-size-xs: $font-size-base * 0.75;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-xs,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
